---
import bgHero from '../assets/bg-hero.png';
import starIcon from '../assets/icons/star.svg';
import eiChefeLogo from '../assets/logos/ei-chefe-logo.svg';
import CardApresentation from './card-apresentation.astro';
import WhatsappButton from './whatsapp-button.astro';
---

<div
  class="pt-[101px] pb-[434px] px-4 flex flex-col gap-12 md:pb-[240px]"
  style={`background-image: url(${bgHero.src}); background-size: cover; background-position: center;`}
>
  <div class="max-w-[1620px] mx-auto w-full">
    <div class="flex flex-col gap-12 xl:flex-row">
      <div class="flex flex-col gap-8 max-w-[958px] w-full">
        <img src={eiChefeLogo.src} alt="eiChefe Logo" width="163" height="53" />
        <h1
          class="text-white text-[48px] leading-[100%] font-medium md:text-[98px]"
        >
          Aumente suas vendas sem aumentar o orçamento
        </h1>
        <div class="md:flex md:gap-[10px]">
          <div class="flex gap-1">
            <img src={starIcon.src} alt="Star Icon" width="16" height="16" />
            <img src={starIcon.src} alt="Star Icon" width="16" height="16" />
            <img src={starIcon.src} alt="Star Icon" width="16" height="16" />
            <img src={starIcon.src} alt="Star Icon" width="16" height="16" />
            <img src={starIcon.src} alt="Star Icon" width="16" height="16" />
          </div>
          <span class="text-white text-sm font-normal leading-[21px]">
            Lucre muito mais através dos anúncios online.
          </span>
        </div>
        <div class="flex flex-col gap-4 md:flex-row">
          <WhatsappButton />
          <div
            class="bg-[#604EE9] py-[15px] px-[35px] rounded-[30px] text-white max-w-max"
          >
            Meu trabalho
          </div>
        </div>
      </div>
      <CardApresentation />
    </div>
    <div class="flex flex-col gap-2 pl-3">
      <ul
        class="flex flex-col gap-2 text-[#F3F3F3] text-sm font-normal leading-[21px]"
      >
        <li class="list-disc ml-4">Onipresença</li>
        <li class="list-disc ml-4">Controle total</li>
        <li class="list-disc ml-4">Foco em resultado</li>
      </ul>
      <div class="h-px w-full bg-[#DEE2E6]"></div>
    </div>
  </div>
</div>
